.userDetail-container {
    /* background-color: #263043; */
}

.userDetail-card {
    background-color: #263043;
    margin-bottom: 8px;
    border-radius: 10px;
}

.userDetail-header {
    padding: 10px;
    display: flex;
}

.userDetail-header img {
    width: 150px;
    height: 150px;
    border-radius: 8%;
}

.userDetail-header .userDetail-data {
    margin-left: 10px;
}

.userDetail-body {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.userDetail-body div {
    padding: 10px;
}

.idImgBtn {
    cursor: pointer;
}

.idImgBtn:hover {
    color: red;
}

.todo-item-input {
  width: 200px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 8px 0;
  font-size: 18px;
}